<a href="https://colab.research.google.com/github/jameseconnolly/jameseconnolly.github.io/blob/main/Net_Zero_Scenarios.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('long_target_emissions.csv')

In [3]:
# // Cleaning and organising df
df.drop(df.index[6:10], inplace=True)
df = df.rename(columns={'Unnamed: 0': 'Scenario'})
df.drop('2100', axis=1, inplace=True)
df

,Scenario,1990,1991,1992,1993,1994,1995,1996,1997,1998,...,2090,2091,2092,2093,2094,2095,2096,2097,2098,2099
0,Current Policies,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,40.524064,40.253212,39.977310,39.690908,39.394582,39.089193,38.780447,38.481566,38.200516,37.934448
1,2030 Targets,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,26.000000,26.000000,26.000000,25.000000,25.000000,25.000000,25.000000,24.000000,24.000000,24.000000
2,All Targets,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,11.251852,11.116534,10.984105,10.858158,10.737966,10.620626,10.503299,10.385295,10.269027,10.162687
3,Optimistic Scenario,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,8.000000,8.000000,8.000000,8.000000,8.000000,8.000000,8.000000,8.000000,7.000000,7.000000
4,1.5 Degree Compatible,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,-4.000000,-4.000000,-4.000000,-4.000000,-4.000000,-5.000000,-5.000000,-5.000000,-5.000000,-5.000000
5,Historical,36.0,36.0,36.0,36.0,36.0,37.0,37.0,38.0,38.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [5]:
# // Converting from wide to tidy format
df1=df.set_index(['Scenario']).stack().reset_index()
df1 = df1.rename(columns={'level_1': 'Year',0:'Global GHG emissions/year'})
df1

             Scenario  Year  Global GHG emissions/year
0    Current Policies  2020                  52.140452
1    Current Policies  2021                  52.430366
2    Current Policies  2022                  52.503277
3    Current Policies  2023                  52.448966
4    Current Policies  2024                  52.459179
..                ...   ...                        ...
424        Historical  2016                  51.000000
425        Historical  2017                  52.000000
426        Historical  2018                  52.000000
427        Historical  2019                  52.000000
428        Historical  2020                  50.000000

[429 rows x 3 columns]

In [6]:
df1.to_csv('Net_Zero_Scenarios.csv')